go 1.25.0

use (
	.
	./bench
	./bonsai-bash
	./bonsai-c
	./bonsai-dockerfile
	./bonsai-go
	./bonsai-gotemplate
	./bonsai-groovy
	./bonsai-java
	./bonsai-javascript
	./bonsai-kotlin
	./bonsai-markdown
	./bonsai-markdown-inline
	./bonsai-python
	./bonsai-ruby
	./bonsai-rust
	./bonsai-terraform
	./bonsai-tsx
	./bonsai-typescript
	./bonsai-yaml
)
